div {
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #000;
}

.visible {
    overflow: visible;
    margin-bottom: 8em;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}